<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neat HTML tricks</title>
	</head>
	<body>
		<h1>Table of Contents</h1>
		<ul>
			<li><a href="/links">Links</a></li>
			<li><a href="/buttons">Buttons</a></li>
			<li><a href="/details">Details</a></li>
			<li><a href="/dialog">Dialog</a></li>
			<li><a href="/lazy">Lazy loading</a></li>
			<li><a href="/web-components">Web Components: Template</a></li>
			<li><a href="/web-components-full">Web Components: Full</a></li>
		</ul>
	</body>
</html>
