<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neat HTML tricks - Lazy loading</title>
	</head>
	<body>
		<h1>Scroll down</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisl eu nisl ultricies, quis aliquam nisl.
    </p>

    <img src="https://darko.io/wishlist.jpg" loading="lazy" style="margin-top: 3000px; width: 400px; display: block;" />

    <a href="/" id="index" style="margin-top: 90px; display: block;">Index</a>
	</body>
</html>
